body {
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  
}
.stylename {
  background-color: rgba(99,99,99,.3);
  border: 1px solid black;

}
h1{
  color: black;
  font-size: 45px;
  font-family: Helvetica;
  
}
.format {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(99,99,99,.3);
  box-shadow: 1px 1px 1px black,
              1px 1px 1px black,
              1px 1px 1px red,
              1px 3px 1px red,
              5px 5px 1px black,
              6px 6px 4px grey;
  
}
